{% extends 'index.html' %}

{% block content %}

<p>Thank The Academy is a project I wrote while at <a href="https://www.hackerschool.com/">Hacker School</a>. It's inspired by a pretty incredible dataset - <a href="http://aaspeechesdb.oscars.org/">the Academy Awards Acceptance Speech Database</a> - and by a really cool mathematical concept called a <a href="http://en.wikipedia.org/wiki/Markov_chain">Markov chain</a>. It's a complex idea (that you may or may not want to read about), but it makes for interesting and fun projects like this. Most basically, using Markov chains with a set of text (like all these speeches, or a novel, or people's tweets) lets you pretty easily generate somewhat random - but usually understandable - text. So these speeches are generated based on the probability that one letter/character would follow another (e.g., you're much more likely to get "Thank you" because so many people said it in their speech).</p>

<p>There are lots of other cool Markov chain projects out there, and lots of other programmers writing programs to do this (which I will hopefully link to soon). In fact, I didn't even write the program to generate the text - a <a href="https://github.com/amandapickering/markovgenerator">fellow Hacker Schooler</a> did, so many thanks to her.</p>

<p>Most importantly: Thank you very much. Thank you. Thank you very much. This moment. But the fact is that we had on the film. And to Tom Cruise and Dustin Hoffman, Meryl Streep, me.</p>

{% endblock %}

{% block footer %}
<ul class="nav navbar-nav">
	<li><a href="/">Thank The Academy<span class="sr-only">(current)</span></a></li>
	<li><a href="/analysis">Analysis<span class="sr-only"></span></a></li>
	<li class="active"><a href="/about">About</a></li>
    <li><a href="https://github.com/jimjshields/thank_the_academy">GitHub</a></li>
    <li><a href="https://twitter.com/shieldsofdreams">Twitter</a></li>
</ul>
     <ul class="nav navbar-nav navbar-right">
     	<li><a class="twitter-share-button"
		  href="https://twitter.com/share"
		  data-size="large">
		Tweet
		</a>
		<script>
		window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
		</script></li>
		<li>
		<li><div class="fb-share-button" data-href="http://thanktheacademy.herokuapp.com/about" data-layout="button_count"></div></li>
		</ul>
{% endblock %}