{% extends "base.html" %}

{% block content %}

<p>Thank The Academy is a project I wrote while at <a href="https://www.hackerschool.com/">Hacker School</a>. It's inspired by a pretty incredible dataset - <a href="http://aaspeechesdb.oscars.org/">the Academy Awards Acceptance Speech Database</a> - and by a really cool mathematical concept called a <a href="http://en.wikipedia.org/wiki/Markov_chain">Markov chain</a> - the speeches are generated based on the probability that one word would follow another few (e.g., you're much more likely to get "Thank you" because so many people said it in their speech).</p>

<p>A <a href="https://github.com/amandapickering/markovgenerator">fellow Hacker Schooler</a> wrote the code to generate the random text, so many thanks to her.</p>

<p>There's also an analysis of speech length over time - under 'Analysis,' there are two visualizations of how the speech length (in words) has changed since 1966 (prior to that, the dataset is spotty). It's best viewed on a desktop/laptop now - I haven't yet optimized it for mobile viewing.</p>

<p>Most importantly: Thank you very much. Thank you. Thank you very much. This moment. But the fact is that we had on the film. And to Tom Cruise and Dustin Hoffman, Meryl Streep, me.</p>

{% endblock %}