{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" type="text/css" href="/static/analysis.css">

<script>
    var full_data = {{ full_data|tojson|safe }}
    var non_honorary_data = {{ non_honorary|tojson|safe }}
    var avg_by_year = {{ avg_by_year|tojson|safe }}
    var avg_by_year_full = {{ avg_by_year_full|tojson|safe }}
    var avg_by_category = {{ avg_by_category|tojson|safe }}
</script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

{% endblock %}

{% block content %}

<button id="speech_length_header">Oscar Speech Length (words) by Year</button>
<div id="speech_length_viz">
    <div id="speech_length">
        <div class="options">
            <label>Sort by length<input type="checkbox" id="sort_checkbox"></label>
            <label>Include Honorary Awards<input type="checkbox" id="non_honorary_checkbox"></label>
            <button id="unfilter">Unfilter</button>
        </div>
    </div>

    <div id="tooltip">
    	<p><b>Winner:</b> <span id="winner"></span></p>
    	<p><b>Speech length (words):</b> <span id="length"></span></p>
      	<p><b>Year:</b> <span id="year"></span></p>
      	<p><b>Award:</b> <span id="award"></span> (click to filter)</p>
      	<p><b>Movie:</b> <span id="movie"></span></p>
      	<p id="speech_button"><b>Speech (click to <span id="show"><b>show</b></span><span id="hide"><b>hide</b></span>):</b>
            <span id="speech"></span>
            <a id="link" href="">Click to View at Oscar Database</a>
        </p>
    </div>
</div>

<button id="avg_speech_length_header">Average Speech Length (words) by Year</button>
<div id="avg_speech_length_viz">
    <div id="avg_speech_length">
        <div class="options">
            <label>Include Honorary Awards<input type="checkbox" id="avg_non_honorary_checkbox"></label>
        </div>
    </div>
</div>

<script src="/static/analysis.js"></script>

{% endblock %}