{% extends 'index.html' %}

{% block content %}


<style>

.bar {
	fill: steelblue;
}

.bar:hover {
	fill: #b29254;
}

.axis {
	font-size: 18px;
}

.axis path {
	display: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

#speech, #hide, #speech_length_viz, #avg_speech_length_viz {
	display: none;
}

button {
	font-size: 25px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	border-radius: 5px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	padding: 10px;
	background-color: #b29254;
}

button:hover {
	background-color: #F5DE2B;
}

p {
	font-size: 16px;
}

#sort_checkbox {
    height: 15px;
}

label {
    position: absolute;
    display: flex;
    width: 175px;
    left: 250px;
    flex-grow: 4;
}

label > input {
    flex-grow: 1;
}

</style>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

<button id="speech_length_header">Oscar Speech Length (words) by Year</button>
	<div id="speech_length_viz">
	<div id="speech_length">
        <label>Sort by length<input type="checkbox" id="sort_checkbox"></label>
    </div>
	<div id="tooltip">
		<p><b>Winner:</b> <span id="winner"></span></p>
		<p><b>Speech length (words):</b> <span id="length"></span></p>
	  	<p><b>Year:</b> <span id="year"></span></p>
	  	<p><b>Award:</b> <span id="award"></span></p>
	  	<p><b>Movie:</b> <span id="movie"></span></p>
	  	<p id="speech_button"><b>Speech (click to <span id="show"><b>show</b></span><span id="hide"><b>hide</b></span>):</b><span id="speech"></span></p>
	</div>
	</div>

<button id="avg_speech_length_header">Avg. Speech Length (words) by Year</button>
	<div id="avg_speech_length_viz">
	<div id="avg_speech_length"></div>
	<div id="avg_tooltip">
		<p><b>Year:</b> <span id="avg_year"></span></p>
		<p><b>Avg. speech length (words):</b> <span id="avg_length"></span></p>
	</div>
	</div>

<script>

var full_data = {{ full_data|tojson|safe }}
var avg_by_year = {{ avg_by_year|tojson|safe }}

$("#speech_button").click(function() {
	$("#speech_length_header").slideToggle();
	$("#show").toggle();
	$("#hide").toggle();
	$("#speech_length").slideToggle();
	$("#speech").slideToggle();
});

$("#speech_length_header").click(function() {
	$("#speech_length_viz").slideToggle();
	$("#avg_speech_length_header").slideToggle();
});

$("#avg_speech_length_header").click(function() {
	$("#avg_speech_length_viz").slideToggle();
	$("#speech_length_header").slideToggle();
});

function drawBarGraph(data, div_name) {

    var margin = {top: 10, right: 20, bottom: 30, left: 80};
    var width = 1300 - margin.left - margin.right;
    var height = 400 - margin.top - margin.bottom;
    var barPadding = 0.5;

    var svg = d3.select("#speech_length").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.time.scale()
        .range([0, width]);

    var x0 = d3.time.scale()
        .range([0, width]);

    var y = d3.scale.linear()
        .range([height, 0]);

    console.log(data)

    x.domain(d3.extent(data, function(d) { return d[9]; }));
    x0.domain(d3.extent(data, function(d) { return d[10]; }));
    y.domain([0, d3.max(data, function(d) { return d[10]; })]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom")
        .ticks(5)
        .tickFormat(d3.format(""));

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(10);

    var x0Axis = d3.svg.axis()
        .scale(x0)
        .orient("bottom")
        .ticks(5)
        .tickFormat(d3.format(""));

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);

    svg.selectAll(".bar")
        .data(data)
            .sort(function(a, b) { return d3.descending(a[10], b[10])})
        .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(+d[9]); })
        .attr("width", (width / data.length))
        .attr("y", function(d) { return y(d[10]); })
        .attr("height", function(d) { return height - y(d[10]); })
        .on("mousemove", function(d) {
        	$("#winner").text(d[3])
        	$("#length").text(d[10])
        	$("#year").text(d[7])
        	$("#award").text(d[1])
        	$("#movie").text(d[2])
        	$("#speech").text(d[6])
        });

    d3.select("#sort_checkbox").on("change", change);

    var sortTimeout = setTimeout(function() {
        d3.select("#sort_checkbox").property("checked", true).each(change); 
    }, 2000);


        function change() {

            var transition = svg.transition().duration(50),
                delay = function(d, i) { return i/2; };

            transition.selectAll(".bar")
                .delay(delay)
                .attr("x", this.checked
                ? function(d) { return x0(d[10]); }
                : function(d) { return x(d[9]); })
                .attr("width", this.checked
                ? (width * 4 / data.length)
                : (width / data.length))

            transition.select(".x.axis")
                .call(this.checked
                    ? x0Axis
                    : xAxis)
              .selectAll("g")
                .delay(delay);
        };
};

function drawAvgBarGraph(data, div_name) {

    var margin = {top: 10, right: 20, bottom: 30, left: 80};
    var width = 1300 - margin.left - margin.right;
    var height = 400 - margin.top - margin.bottom;
    var barPadding = 0.5;

    var svg = d3.select("#avg_speech_length").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.time.scale()
        .range([0, width]);

    var y = d3.scale.linear()
        .range([height, 0]);

    console.log(data)

    x.domain(d3.extent(data, function(d) { return d[0]; }));
    y.domain([0, d3.max(data, function(d) { return d[1]; })]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom")
        .ticks(5)
        .tickFormat(d3.format(""));

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(10);

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);

    svg.selectAll(".bar")
        .data(data)
        .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(+d[0]); })
        .attr("width", (width / data.length))
        .attr("y", function(d) { return y(d[1]); })
        .attr("height", function(d) { return height - y(d[1]); })
        .on("mousemove", function(d) {
        	$("#avg_year").text(d[0])
        	$("#avg_length").text(d[1])
        });
};

drawBarGraph(full_data);
drawAvgBarGraph(avg_by_year)

</script>

{% endblock %}

{% block footer %}
	<li><a href="/">Thank The Academy</a></li>
	<li class="active"><a href="/analysis">Analysis<span class="sr-only">(current)</span></a></li>
	<li><a href="/about">About</a></li>
    <li><a href="https://github.com/jimjshields/thank_the_academy">GitHub</a></li>
{% endblock %}