<!DOCTYPE html>

<html>

<head>

	<link rel="stylesheet" type="text/css" href="http://necolas.github.io/normalize.css/3.0.2/normalize.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/base.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script>
		
		// Google Analytics code
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-59752024-1', 'auto');
		  ga('send', 'pageview');

	</script>

	{% block head %}
	{% endblock %}
</head>

<body>
	<div id="fb-root"></div>
	<script>

	// Facebook sharing code
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	</script>

	<div class="outer">
		<div class="inner">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>

{% block footer %}

<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<ul class="nav navbar-nav">
		    <li><a href="/">Thank The Academy<span class="sr-only">(current)</span></a></li>
		    <li><a href="/analysis">Analysis<span class="sr-only"></span></a></li>
		    <li><a href="/about">About</a></li>
		    <li><a href="https://github.com/jimjshields/thank_the_academy">GitHub</a></li>
		    <li><a href="https://twitter.com/shieldsofdreams">Twitter</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="twitter-share-button" href="https://twitter.com/share" data-size="large">Tweet</a>
				<script>
				window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
				</script>
			</li>
			<li>
				<div class="fb-share-button" data-href="http://thanktheacademy.herokuapp.com/" data-layout="button_count"></div>
			</li>
		</ul>
	</div>
</nav>

{% endblock %}

</html>