<style>
	* {
		text-align: center;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   		font-weight: 300;
	}
	div {
		border-radius: 8px;
		opacity: 90%;
		position: relative;
		top: 45%;
		padding-top: 100px;
		padding-bottom: 100px;
		transform: translateY(-50%);
		background-image: url('http://media.tumblr.com/1566776e0b2d6949681f03120a7f80a6/tumblr_inline_n5tyxgqCOh1r8s7a3.png');
   		background-repeat: no-repeat;
   		background-position: center;
	}

	p {
		font-size: 24px;
		/*color: #FFED1C;*/
	}

	input {
		background-color: #b29254;
		width: 200px;
		height: 50px;
		padding: 5px;
		border: 2px solid black;
		border-radius: 10px;
		font-size: 20px;
	}
	input:hover {
		background-color: #FFED1C;
		opacity: 100%;
	}
</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59752024-1', 'auto');
  ga('send', 'pageview');

</script>

<div id="speech">
	<p>{{ speech }}</p>
	<form action="make_speech">
		<!-- <input type="text" name="length" placeholder="How long?"> -->
		<input type="submit" value="Thank the Academy!">
	</form>
</div>